header h1 {
    padding: 1em;
}

header h2, header p {
    padding: 0.5em 0 0.5em 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.box{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap : 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
    
}
.box411{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap : 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box411 p:hover {
    transition: transform 0.3s ease;
    width: 100%;
    color: blueviolet;
}

.box411 .box:hover{
    transform: scale(1.05);
}

.box412{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap : 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box412 p:hover {
    transition: transform 0.3s ease;
    width: 100%;
    color: rgb(222, 178, 3);

}
.box412 .box:hover{
    transform: scale(1.05); 
}

.box413{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap : 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box413 p:hover{
    transition: transform 0.3s ease;
    width: 100%;
    color: rgb(222, 178, 3);
}
.box413 .box:hover{
    transform: scale(1.05);
}


.box421{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap : 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box421 p:hover{
    transition: transform 0.3s ease;
    width: 100%;
    color: rgba(193, 0, 97, 0.97);
}

.box421 .box:hover{
    transform: scale(1.05);  
}

.box422{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap : 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}
.box422 p:hover{
    transition: transform 0.3s ease;
    width: 100%;
    color: rgb(1, 67, 60);
}
.box422 .box:hover{
    transform: scale(1.05);
    
}

.box423 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}
.box423 p:hover {
    transition: transform 0.3s ease;
    width: 100%;
    color:gray
}
.box423 .box:hover {
    transform: scale(1.05); 
}

.box911 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box911 p:hover{
    transition: transform 0.3s ease;
    width: 100%;
    color: rgb(0, 59, 111);
}

.box911 .box:hover {
    transform: scale(1.05);
    
}

.box912 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box912 p:hover {
   transition: transform 0.3s ease;
    width: 100%;
    color: rgb(124, 10, 0);
}

.box912 .box:hover {
    transform: scale(1.05);
}

.box913 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box913 p:hover {
    transition: transform 0.3s ease;
    width: 100%;
    color: rgb(0, 114, 95);;
}

.box913 :hover {
    transform: scale(1.05);
}

.box921 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box921 p:hover {
     transition: transform 0.3s ease;
    width: 100%;
    color: rgb(220, 135, 32);
}
.box921 .box:hover {
    transform: scale(1.05);
}

.box922 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}

.box922 p:hover {
    transition: transform 0.3s ease;
    width: 100%;
    color: rgb(0, 205, 232);
}
.box922 .box:hover {
    transform: scale(1.05);
}
.box923 {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    height: 370px;
    width: auto;
    border-radius: 16px;
    justify-content: space-between;
    white-space: nowrap;
}
.box923 p:hover {
    transition: transform 0.3s ease;
    width: 100%;
    color: burlywood;
}

.box923 .box:hover {
    transform: scale(1.05);
}

